*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td {
    margin: 0;
    padding: 0;
    direction: ltr;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

p {
    line-height: 25px;
}

.row img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    line-height: inherit;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

iframe {
    border: 0 !important;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

figure {
    margin: 0;
}

/* Page Border */

.page-border {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
}

.page-border .bottom-border, .page-border .left-border, .page-border .right-border, .page-border .top-border {
    background: #f3f3ef;
    position: fixed;
    z-index: 9999;
}

.page-border > .top-border, .page-border > .right-border, .page-border > .bottom-border, .page-border > .left-border {
    padding: 11px;
    background: #ccc;
}

.page-border .bottom-border, .page-border .top-border {
    width: 100%;
    padding: 10px;
    left: 0;
}

.page-border .left-border, .page-border .right-border {
    padding: 10px;
    height: 100%;
    top: 0;
}

.page-border .top-border {
    top: 0;
}

.page-border .right-border {
    right: 0;
}

.page-border .bottom-border {
    bottom: 0;
}

.page-border .left-border {
    left: 0;
}

#wrapper {
    margin:0 15px;
    padding: 15px 0;
    position: relative;
}


/* --------- 1.1 Input Elements ---------- */

input, textarea {
    border: 1px solid #e1e1e1;
    padding: 10px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    border-radius: 3px;
}

input {
    height: 40px;
    margin: 3px 0;
    outline: none;
    line-height: normal;
    font-size: 14px;
}

input[type="submit"] {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

select {
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 5px;
}

input:focus, textarea:focus {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

*:focus {
    outline: none;
}

/*------------------------------------------------------------------------------------------*/
/* 2. Layout Elements */
/*------------------------------------------------------------------------------------------*/

section {
    clear: both;
    overflow: hidden;
}

/* Rows and Columns */

.row {
    max-width: 1245px;
    margin: 0 auto;
    padding: 75px 0;
    position: relative;
}

.no-padding-bottom .row, .no-padding-bottom div, .no-padding-bottom.row {
    padding-bottom: 0;
}

.no-padding-top.row, .no-padding-top div {
    padding-top: 0;
}

.big-padding-top {
    padding-top: 75px !important;
}

.big-padding-bottom {
    padding-bottom: 85px !important;
}

/* Targets all elements */

[class*='col-'] {
    float: left;
    padding: 20px;
}

#clients .col-2-3 [class*='col-'] {
    padding: 0;
}

/* Clearfix */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Main Widths */

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 16.6666666667%;
}

.col-7 {
    width: 14.2857142857%;
}

.col-8 {
    width: 12.5%;
}

.col-9 {
    width: 11.1111111111%;
}

.col-10 {
    width: 10%;
}

.col-11 {
    width: 9.09090909091%;
}

.col-12 {
    width: 8.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-3-4 {
    width: 75%;
}

.col-9-10 {
    width: 90%;
}

/* Golden Ratio */
.col-61 {
    width: 61.8%;
}

/*.col-38 {
    width: 38.2%;
}*/

/* --------- Header Elements --------- */




/*test*/
.topnav {
    background-color: #333;
    display: flex;
    align-items: center;   
    justify-content: flex-start;
    padding: 0 10px;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.topnav a {
    display: block;
    color: wheat;
    padding: 20px 12px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

.topnav .iconTopnav {
    display: none;
    font-size: 25px;
    cursor: pointer;
    padding: 20px 12px;
    line-height: 1;
    margin-left: auto;
}
/*test*/

/* --------- Logo Header Elements ---------- */



/* --------- 2.3 Buttons ---------- */

.call-to-action {
    padding: 35px 0 35px 0;
}

/*Style*/

.button {
    font-size: 16px;
    font-weight: 500 !important;
    margin: 35px 0;
    padding: 15px 22px;
    /*padding: 13px 25px 10px 25px !important; media */
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
}

/* --------- 2.4 Navigation ---------- */



/* --------- 2.5 Social Elements ---------- */

#header .col-4 {
    text-align: right;
}

.social-icons {
    display: inline-block;
    list-style: none;
}

.social-icons a {
    display: inline-block;
    width: 32px;
    text-align: center;
}

.social-icons a:hover {
    opacity: 0.7;
}

.social-icons span {
    display: none;
}

#header .social-icons {
    margin-top: 27px;
}

/* --------- 2.6 Images ---------- */

/*Alignment*/

img {
    vertical-align: top;
}

.image-center {
    display: block;
    margin: 0 auto;
}

a img {
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a img:hover {
    opacity: 0.7;
}

/*------------------------------------------------------------------------------------------*/
/* 3. Fonts */
/*------------------------------------------------------------------------------------------*/

h1 {
    padding: 20px 0;
}

h2 {
    padding: 14px 0;
}

h3 {
    padding: 10px 0;
}

h4 {
    padding: 7px 0;
}

h5 {
    padding: 7px 0;
}

h6 {
    padding: 7px 0;
}

/* Text Alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Section Headings */

.section-heading {
    padding: 0 0 15px 0;
}

.section-subtitle {
    font-size: 18px;
    padding-top: 0;
}

.section-heading h3 {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0;
}

/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/

#banner {
    background-size: cover;
}

#banner-content.row {
    padding-top: 170px;
    padding-bottom: 100px;
}

/* Grid Layout for Choice Items */
.grid-choice {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 2rem; /* Space between the rows/columns */
}

/* Each individual choice (input + radio button) */
.grid-choice > div {
  display: flex;
  align-items: center; /* Align input and radio button */
  gap: 1rem; /* Space between the input and the radio button */
}

.label-boxes {
  background-color: #ffdb39; /*ffdb39 3691ed*/
  padding: 10px;  
  margin: 10px;
  width: 100%;
  text-align: center;
  border-style: solid; 
  border-width: 1px;
  border-color: #111;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.label-boxes:hover {
  background-color: #ffe25c;  /*50a2f5*/
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* subtle depth */
  /*background: linear-gradient(135deg, #ffe25c, #ffd633);*/
}

.label-boxes.selected {
  background-color: #39ca3d; 
  color: #fff;
  transform: scale(1.03);
}

.grid-choice-choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns for the choices*/
  gap: 10px; /* Space between each choice */
}

.grid-container  {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;

}

#banner h1 {
    padding-top: 5%;
}

#banner .section-heading:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
}

.header-block-content {
    background: #faf6f0;
    width: 80%;
    text-align: center;
    padding: 25px 0 25px 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
    transition: all 0.2s ease-in-out 0s;
    position: relative;
    border: 2px solid #11161c;
}

.header-block-content p {
    text-align: left;
    /*padding: 5px 2 5px 0;*/
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 2px;
    margin-left: 10px;
    font-weight: 500;
}

.header-block-content h4 {
    text-align: center;
    padding: 5px 2 5px 0;
    padding-top: 10px;
    margin-left: 10px;
    font-weight: 600;
}

.header-block-content label {
    text-align: left;
    /*padding: 5px 2 5px 0;*/
    padding-left: 5px;
    margin-left: 10px;
    font-weight: 500;
}

.form-group {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

/* Mobile adjustments */
@media (max-width: 900px) {
  input, select, button {
    font-size: 1rem;
  }

  #banner h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:52px;
    line-height:60px;
    font-weight:600;
    color:#111;
}

#banner h2 {
    width: 60%;
}

/* Change grid layout to 1 column (single input per row) */
  .grid-choice {
    grid-template-columns: 1fr; /* One column for mobile */
    gap: 0.5rem; /* Smaller space between rows/columns */
  }

  /* Adjust the individual choice container for mobile */
  .grid-choice > div {
    gap: 0.5rem; /* Less space between input and radio button */
  }

  .header-block-content {
    background: #faf6f0;
    width: 60%;
    text-align: center;
    padding: 25px 0 25px 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
    position: relative;
    border: 2px solid #11161c;
    margin-left: 20%;
    margin-bottom: 10px;
  }

  /* Reduce font size or padding for mobile */
  input {
    font-size: 10px; /* Slightly smaller text */
    padding: 8px; /* Smaller padding */
  }

  /* Checkbox */
  .check-box {
    margin-left: auto; 
    accent-color: #111;
  }
}

/*------------------------------------------------------------------------------------------*/
/* 5. Content Elements */
/*------------------------------------------------------------------------------------------*/

/* --------- 5.1 Icons ---------- */

/*Font Icon sizes*/

.fa-1x {
    font-size: 15px !important;
}

/*Icon Block*/

.icon-block {
    position: relative;
}

.icon-block h4 {
    font-weight: bold;
    padding-top: 0;
}

.icon-block .icon {
    position: absolute;
}

.icon-block p {
    margin-top: 0;
}

/* Icon Left*/

.icon-left .icon {
    left: 15;
}

.icon-left .icon-block-description {
    padding-left: 53px;
}

/* Icon Right */

.icon-right .icon {
    right: 15;
}

.icon-right .icon-block-description {
    padding-right: 53px;
}

/* Icon Above */

.icon-top {
    display: block;
}

.icon-top .icon {
    position: relative;
    display: block;
}

.icon-top .icon-block-description {
    padding-top: 25px;
}

/* --------- 5.2 Parallax Elements ---------- */

.banner-parallax-1, .banner-parallax-2, .banner-parallax-3 {
    min-height: 350px;
}

/* --------- 5.3 Divider ---------- */

.divider {
    position: relative;
    width: 40%;
    height: 20px;
    line-height: 20px;
    margin: 10px auto 5px auto;
    clear: both;
    text-align: center;
}

.divider-inner {
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    margin-top: -1px;
    border-top: 1px solid;
    border-color: #e1e1e1;
}

.divider i {
    background: #fff;
    position: relative;
    top: -11px;
    padding: 0 5px 0 5px;
    color: #e1e1e1;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/*------------------------------------------------------------------------------------------*/
/* 6. Landing Page Sections */
/*------------------------------------------------------------------------------------------*/

/* --------- 6.1 Introduction ---------- */

/*.introduction img.featured {
    padding: 55px 0 0 0;
}*/

/* --------- 6.2 Features ---------- */

.features.row {
    padding-left: 5%;
    padding-right: 5%;
}

.features div:nth-child(4) {
    clear: both;
}

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px) {
    .featherlight-next:hover,
    .featherlight-previous:hover {
        background: none;
    }

    .featherlight-next span,
    .featherlight-previous span {
        display: block;
    }
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
    .featherlight-next,
    .featherlight-previous {
        top: 10px;
        right: 10px;
        left: 85%;
    }

    .featherlight-previous {
        left: 10px;
        right: 85%;
    }

    .featherlight-next span,
    .featherlight-previous span {
        margin-top: -30px;
        font-size: 40px;
    }
}

/* --------- 6.7 Pricing / Form Table ---------- */

.pricing-block-content {
    background: #faf6f0;
    padding: 25px 0 25px 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
    position: relative;
    border: 2px solid #11161c;
    width: 100%;
}

.pricing-block-content h4 {
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    font-weight: 400;
}

.pricing-heading {
    padding: 0 0 15px 0;
}

.pricing-subtitle {
    font-size: 18px;
    padding-top: 0;
}

.pricing-heading h3 {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0;
}

.pricing-block ul {
    list-style: none;
    margin: 25px 0 25px 0;
}

.pricing-block li {
    padding: 14px 0;
    border-bottom: 1px dotted #e1e1e1;
}

.pricing-block li:last-of-type {
    border:none;
}

.pricing-block h3 {
    font-size:17px;
    text-transform:uppercase;
    padding-bottom:0;
}

.pricing-sub {
    font-style: italic;
    color:#ccc;
    margin:0 0 25px 0;
}

/*Price*/

.pricing {
    /*background: #f5f5f5;*/
    padding: 25px;
    position: relative;
}

.price {
    display: inline-block;
    font-size: 62px;
    font-weight: 700;
    position: relative;
}

.price span {
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 22px;
}

.pricing  p {
    font-style:italic;
    line-height:auto;
    margin:0;
}



/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer {
   background-color: #111;
}

#landing-footer .row {
    padding: 0;
}

#landing-footer #copyright p {
    margin: 0;
    color: #e2e2e2;
    line-height: 22px;
    margin-top: 3px;
}


/* Scroll Up */

#scrollUp {
    bottom: 15px;
    right: 30px;
    width: 70px;
    height: 80px;
    margin-bottom: -10px;
    padding: 0 5px 20px 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}

#scrollUp:hover {
    margin-bottom: 0;
}

#scrollUp:before {
    background: #ccc;
    font-family: "fontawesome";
    font-size: 2.4em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #fff;
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    content: "\f106";
    opacity: 1;
}

/*Preloader*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99999; /* makes sure it stays on top */
}

#status {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-position: center;
    margin: -55px 0 0 -55px; /* is width and height divided by two */
    text-align: center;
}

/*------------------------------------------------------------------------------------------*/
/* Responsive Elements */
/*------------------------------------------------------------------------------------------*/

/* Media Queries for Nav
===============================*/
@media all and (max-width: 1024px) {
    #nav-trigger {
        display: block;
    }

    nav#nav-main {
        display: none;
    }

    nav#nav-mobile {
        display: block;
    }

    nav#nav-mobile li {
        display: block;
    }
}

/* Landscape mobile & down
===============================*/
@media (max-width: 480px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }

    .row {
        padding: 15px !important;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38, .row {
        width: 100%;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38 {
        padding-right: 0;
        padding-left: 0;
    }

    /*-----------------Header Elements Responsive -----------------*/

    #banner-content.row {
        padding-top: 85px !important;
    }

    /*-----------------Sections-----------------*/

    /* Call to Action*/
    .call-to-action {
        padding-bottom: 25px;
    }

    /* Video */
    .slvj-lightbox iframe, .slvj-lightbox object, .slvj-lightbox embed {
        height: 270px !important;
    }

    /* Footer */
    #landing-footer #copyright {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
    }

    /*-----------------Typography-----------------*/
    h1 {
        font-size: 38px;
    }

    #banner h1 {
        font-size: 48px;
    }

    /* Hide Elements */
    a#scrollUp {
        display: none !important;
    }

}

/* Mobile to Tablet Portrait
===============================*/
@media (min-width: 480px) and (max-width: 768px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }


    .row {
        padding: 15px 0 !important;
    }

    .col-1, .col-2, .col-5, .col-7, .col-9, .col-11, .col-2-3, .col-3-4, .col-61, .col-38, .row {
        width: 100%;
    }

    .col-3, .col-4, .col-6, .col-8, .col-10, .col-12 {
        width: 50%;
    }

    /*-----------------Header Elements Responsive -----------------*/

    /*center aligned logo & hamburger, but hamburger on the left*/
    .topnav a:not(:first-child) {
        display: none; 
    }

    .topnav .iconTopnav {
        display: block;
        margin-left: 0;
    }

    .topnav.responsive {
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        width: 100%;
    }

    .topnav.responsive .iconTopnav {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }

    .topnav.responsive .section-title-logo {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    font-weight: 300;
    margin-top: 60px;
    align-self: flex-start;
}

    .topnav.responsive a {
        display: block;
        text-align: left;
        width: 100%;
    }
    /*center aligned logo & hamburger*/

    #banner-content.row {
        padding-top: 85px !important;
    }

    /*-----------------Sections-----------------*/

    /* Video */
    .slvj-lightbox iframe, .slvj-lightbox object, .slvj-lightbox embed {
        height: 370px !important;
    }

    /* Footer */
    #landing-footer #copyright {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
    }

}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 908px) and (max-width: 1024px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border {
        display:none;
    }

    .big-padding-top {
        padding-top: 45px !important;
    }

    #pricing {
        display: inline-block;
        padding-top:3px;
    }

    /*-----------------Header Elements-----------------*/


    /*-----------------Sections-----------------*/

    /* Video */
    .slvj-lightbox iframe, .slvj-lightbox object, .slvj-lightbox embed {
        height: 432px !important;
    }

}


/*------------------------------------------------------------------------------------------*/
/* 8. New Forms */
/*------------------------------------------------------------------------------------------*/

input,
button,
select,
textarea {
  font: 'Open Sans';
}

form {
  display: row;
  gap: 1rem;

  @media (width > 720px) {
    grid-template-columns: 1fr 1fr;
  }
}

.form-group {
  display: grid;
  gap: 0.5cap;
}

label {
  font-size: 1rem;

  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

input {
  background-color: #fff;
  color: #111;
  border-color: #111111bc;
  border-radius: 16px;
  padding: 2ex 2ex;
  border-radius: 24px;


    padding-left: 20px;
    padding-right: 20px;
}

input:not([type="checkbox"], [type="radio"]) {
  width: 100%;
}

.form-group:has(.fine-print) {
  grid-column: 1 / -1;

  display: flex;
  gap: 0.5ch;
}

.contact-form button {
  justify-self: start;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;

  background-color: var(--surface-0);
  color: var(--text-1);

  /*padding-block-start: 10vb;*/
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
}

a {
  color: hsl(from var(--accent) h s 80%);
}

label {
  font-size: 1rem;
}

.fine-print {
  font-size: 0.925rem;
  text-transform: revert;
  line-height: 1.4;
}

.contact-form {
  display: grid;
  gap: 1rem;

  background-color: var(--surface-1);
  padding: 3rem;
  border-radius: 24px;
  width: min(100% - 4rem, 1200px);
  margin-inline: auto;
}

button {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--text-1);
  padding: 1em 1.5em;
  border: 0;
  border-radius: 35px;

  &:hover,
  &:focus-visible {
    background-color: hsl(from var(--accent) h s 30%);
  }
}

/*------------------------------------------------------------------------------------------*/
/* 1. Website Default Styling */
/*------------------------------------------------------------------------------------------*/


body {
    background:#fff;
}


/* Default Link Color */

a, .la-ball-triangle-path {
    color:#d2b356;
}

a:hover, #header.nav-solid nav a:hover {
    color:#d2b356;
}

.header-block-content:hover {
    border-color:#d2b356;
}

/* Default Icon Color */

.icon i {
    color:#d2b356;
}

/* Border Color */

#banner .section-heading:before, .testimonial.classic footer:before {
    background: #d2b356;
}

.pricing-block-content:hover {
    border-color:#d2b356;
}


/*------------------------------------------------------------------------------------------*/
/* 2. Navigation */
/*------------------------------------------------------------------------------------------*/


   

/*------------------------------------------------------------------------------------------*/
/* 3. Primary and Secondary Colors */
/*------------------------------------------------------------------------------------------*/


/* Primary Background and Text Colors */

.primary-color, .featured .pricing {
    background-color:#d2b356;
}

.primary-color, .primary-color .section-title, .primary-color .section-subtitle, .featured .pricing, .featured .pricing p {
    color:#fff;    
}

.section-heading h2:after {
    background:#d2b356;
    content:"";
    display:block;
    width:30px;
    height:5px;
    margin-top:30px;
}

.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i, .primary-color i {
    color:#fff;
}


/* Secondary Background and Text Colors */

.secondary-color {
    background-color:#111;
}


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/


/* Banner Background and Text Colors */

#banner {
    /**background: url("assets/banner-image-1.jpg") no-repeat center top;*/
    background-size:cover;
}


/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/


body {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:15px;
    font-weight:normal;
    color:#111;
}

/* Banner Typography */

#banner h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:52px;
    line-height:60px;
    font-weight:800;
    color:#111;
}

#banner h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:18px;
    font-weight:300;
    color:#111;
}


/* Section Title and Subtitle */

.section-title {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight:700;
    color:#111;
}

.section-subtitle {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    font-weight:300;
    color:#9c9c9c;
}

/* Testimonial */

.testimonial q {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 17px; 
    font-weight:300;
}

.testimonial.classic q, .testimonial.classic footer {
    color:#111;
}


/* Standard Headings h1-h6 */

h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 40px; 
    font-weight:300;
    color:#111;
}

h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight:300;
    color:#111;
}

h3 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 30px; 
    font-weight:700;
    color:#111;
}

h4 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 18px; 
    font-weight:400;
    color:#111;
}

h5 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px; 
    font-weight:400;
    color:#111;
}

h6 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 14px; 
    font-weight:400;
    color:#111;
}


/*------------------------------------------------------------------------------------------*/
/* 6. Buttons */
/*------------------------------------------------------------------------------------------*/

/* ----------Default Buttons---------- */


/* Button Form Text */

.button, input[type="submit"]  {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:14px;
    font-weight:bold;
    color:#fff;
}


/* Button Form Color */

.button, input[type="submit"] {
    background-color:#ffb600;
    border-color: #ffb600;
    /*border: var(--border);*/
    border-radius: 16px;
    padding: 1ex 2ex;
    border-radius: 24px;
}


/* Button Form Hover Color */

.button:hover,  input[type="submit"]:hover {
    background-color: #111;
    border-color:#111;
    color:#fff;
}


/* ----------Banner Buttons---------- */


/* Button Text */

#banner .button {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:16px;
    color:#fff;
}


/* Button Color */

#banner .button {
    background-color: #111;
    border-color:#111;
}


/* Button Hover Color */

#banner .button:hover {
    color:#fff;
    background-color: #ffb600;
    border-color:#ffb600;
}


/*----2nd button in form---*/

/* Button Form Text */

.button-form, input[type="submit"]  {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:14px;
    color:#fff;
}


/* Button Form Color */

.button-form, input[type="submit"] {
    background-color:#ffb600;
    border-color: #ffb600;
    border-radius: 16px;
    padding: 2ex 2ex;
    border-radius: 24px;
}


/* Button Form Hover Color */

.button-form:hover,  input[type="submit"]:hover {
    background-color: #111;
    border-color:#111;
    color:#fff;
}

/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p, #landing-footer a {
  position: relative; /* or unset */
  width: 100%;
  bottom: 0;
  /* Only use fixed if you want it to always stay at bottom of screen */

    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:12px;
    font-weight:normal;
    color:#999;
}

/* Footer Icon Color */

#landing-footer i {
    color:#999;
}
